#all paths must be config. in RelativePath.
#application will only catch first definition of paths.
#textures of the model should be stored in the folder of model name/Textures .
#for example for model named "Tree.obj" -> {Tree/Textures} .
#SaveLoadPath -> path where levels are stored.
#Texture->path where Textures are Stored and its name.
#Model -> put name of the model to load it by auto to the Models combobox (loaded from models path).
#models name should be followed by format like "Tree.obj" .
#textures name should be followed by format like "Tree.jpg".
#to comment out put any symbol into anytag and it will be considered not read like <#HeightMap ..
#General Settings(default values) 
<PlaneConfig width=64 depth=64 maxHeight=8/>
<PlaneDiff path="res/Textures/Plane/desert_mntn_d.jpg"/>
<PlaneNorm path="res/Textures/Plane/desert_mntn_n.jpg"/>
<PlaneSpec path="res/Textures/Plane/desert_mntn_s.jpg"/>


<ClearColor r=77 g=77 b=255 a=255/>
<Projection FOV=45.0 zNear=0.1 zFar=400.0/>

<DirLight x=-0.2 y=-1.0 z=-0.3 
ambR=51.0 ambG=51.0 ambB=51.0 
diffR=128.0 diffG=128.0 diffB=128.0 
specR=255.0 specG=255.0 specB=255.0/>

<PointLight const=1.0 linear=0.036 quadratic=0.09 
ambR=31 ambG=31 ambB=31 
diffR=102 diffG=102 diffB=102 
specR=128 specG=128 specB=128/>

<LoadSkybox 
xPostive="right.jpg" xNegative="left.jpg" 
yPostive="top.jpg" yNegative="bottom.jpg" 
zPostive="front.jpg" zNegative="back.jpg" 
>res/Textures/Skybox/skybox/</LoadSkybox>
#-------------------------------------
<HeightMap name="NOHEIGHTMAP.jpg">res/Textures/Plane/</HeightMap>
<HeightMap name="RandomGenerator_H_Map.bmp">res/Levels/</HeightMap>
<SaveLoadPath>res/Levels/</SaveLoadPath>
<Texture diff="brickwall.jpg" normal="brickwall_normal.jpg" spec="default">res/Textures/Box/</Texture>
<Texture diff="desert_mntn_d.jpg" normal="desert_mntn_n.jpg" spec="desert_mntn_s.jpg">res/Textures/Box/</Texture>
<#Model name="test.obj">res/Models/</Model>
#<#Shader name="testShader"/>
